<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
  <head>
    <title>SignLanguageTranslator</title>
    <style>
      body {
        background-color: black;
      }
      h1 {
        color: turquoise;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
      }
      div {
        color: purple;

        text-align: center;
      }
      footer {
        color: aqua;

        margin-top: 25%;
        text-align: center;
      }
    </style>
    <link rel="icon" href="images/signLanguageLogo.png" type="image/x-icon" />
  </head>
  <body>
    <h1>Sign Language Translator</h1>
    <div>
      <img
        src="images/signLanguageLogo.png"
        alt="Sign Language Logo"
        usemap="#workmap"
        width="200"
        height="200"
      />
    </div>
  </body>
  <footer>All rights reserved ©</footer>
</html>
